<!DOCTYPE html>

<title>Tache index</title>
<h1>Tasks for project: {{ projet.nom }}</h1>
        
        <a href="{{ path('app_projet_show', {'id': projet.id}) }}" class="btn btn-back">
            <i class="fas fa-arrow-left"></i> Back to Project
        </a>
{% block body %}
    <h1>Tache index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Statut</th>
                <th>Trelloboardid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                <td>{{ tache.id }}</td>
                <td>{{ tache.nom }}</td>
                <td>{{ tache.description }}</td>
                <td>{{ tache.dateDebut ? tache.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ tache.dateFin ? tache.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ tache.statut.value }}</td>
                <td>{{ tache.trelloboardid }}</td>
                <td>
                    <a href="{{ path('app_tache_show', {'id': tache.id,'projetId': projet ? projet.id : null}) }}">show</a>
                    <a href="{{ path('app_tache_edit', {'id': tache.id,'projetId': projet ? projet.id : null}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tache_new', {'projetId': projet ? projet.id : null}) }}">Create new</a>
{% endblock %}
