{# templates/projet/_form.html.twig #}
<link rel="stylesheet" href="{{ asset('front/css/styleProjet.css') }}">
{{ form_start(form, {'attr': {'class': 'project-form'}}) }}
    <div class="form-group">
        {{ form_label(form.nom, 'Project Name') }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nom) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description, 'Description') }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 4}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-dates">
        <div class="form-group">
            {{ form_label(form.dateDebut, 'Start Date') }}
            {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control datepicker'}}) }}
            {{ form_errors(form.dateDebut) }}
        </div>

        <div class="form-group">
            {{ form_label(form.dateFin, 'End Date') }}
            {{ form_widget(form.dateFin, {'attr': {'class': 'form-control datepicker'}}) }}
            {{ form_errors(form.dateFin) }}
        </div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Save Project') }}</button>
{{ form_end(form) }}