{% extends 'baselogin.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
{{ form_start(registrationForm) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.competence) }}
    {{ form_row(registrationForm.plainPassword.first) }}
    {{ form_row(registrationForm.plainPassword.second) }}
    {{ form_row(registrationForm.image) }}

    <button type="submit" class="btn-signup">Sign Up</button>
{{ form_end(registrationForm) }}
{% endblock %}
