{% extends 'baseRH.html.twig' %}

{% block title %}Modifier Entretien #{{ entretien.idEntretien }}{% endblock %}

{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Modifier l'entretien</h1>
            <a href="{{ path('app_entretien_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">
                <i class="fas fa-arrow-left fa-sm text-white-50 mr-2"></i>Retour à la liste
            </a>
        </div>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Formulaire de modification</h6>
                    </div>
                    <div class="card-body">
                        {{ include('entretien/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Card -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4 border-left-danger">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-danger">Zone dangereuse</h6>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-warning">
                            <i class="fas fa-exclamation-triangle mr-2"></i>
                            La suppression est irréversible. Soyez certain de votre action.
                        </div>
                        {{ include('entretien/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Gestion de la visibilité des champs
    $('.entretien-type-selector').change(function() {
        if ($(this).val() === 'En_ligne') {
            $('.lienmeet-field').show();
            $('.localisation-field').hide();
        } else if ($(this).val() === 'Presentiel') {
            $('.lienmeet-field').hide();
            $('.localisation-field').show();
        } else {
            // Cas par défaut (les deux cachés)
            $('.lienmeet-field').hide();
            $('.localisation-field').hide();
        }
    }).trigger('change'); // Exécute immédiatement au chargement

    // Initialisation du timepicker avec format HH:MM
    $('#timepicker-input').flatpickr({
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true,
        minuteIncrement: 15,
        defaultHour: 9,
        defaultMinute: 0,
        locale: "fr",
        allowInput: true
    });

    $('#timepicker-icon').click(function() {
        $('#timepicker-input').flatpickr().open();
    });

    // Validation du format HH:MM
    $('#timepicker-input').on('change', function() {
        if (!/^([01]?[0-9]|2[0-3]):[0-5][0-9]$/.test($(this).val())) {
            $(this).addClass('is-invalid');
        } else {
            $(this).removeClass('is-invalid');
        }
    });
});
</script>
{% endblock %}