<!DOCTYPE html>

<title>Offre</title>

{% block body %}
    <h1>Offre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idoffre</th>
                <td>{{ offre.idoffre }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ offre.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offre.description }}</td>
            </tr>
            <tr>
                <th>DatePublication</th>
                <td>{{ offre.datePublication ? offre.datePublication|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateExpiration</th>
                <td>{{ offre.dateExpiration ? offre.dateExpiration|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ offre.statut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_offre_index') }}">back to list</a>

    <a href="{{ path('app_offre_edit', {'idoffre': offre.idoffre}) }}">edit</a>

    {{ include('offre/_delete_form.html.twig') }}
{% endblock %}
